header, nav {
    display: block;
}
a {
    color: #004080;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #930000;
}
body {
    background: rgb(152, 190, 222);
    background: -moz-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(152, 190, 222, 1)), color-stop(50%, rgba(222, 239, 255, 1)), color-stop(100%, rgba(152, 190, 222, 1)));
    background: -webkit-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: -o-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: -ms-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: linear-gradient(to right, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98bede', endColorstr='#98bede', GradientType=1);
}
nav {
    display: inline-block;
    margin-top: 1%;
    max-width: 100%;
    vertical-align: bottom;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-table;
    padding: 0.1em;
    margin-bottom: 0.4em
}
nav a {
    background: #C0D8F2;
    border: 0.1em solid #57ABB8;
    border-radius: 0.25em;
    color: #5C5CFF;
    display: block;
    font-family:"Comic Sans MS";
    font-size: 16px;
    padding: 0.2em;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
nav a:hover {
    background: #008000;
    border: 0.1em dashed #00FF80;
    border-radius: 0 0.5em 0 0.5em;
    color: #FFF;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.login{
	color: #004200;
	width: 22%;
	border: 2px solid #004080;
	background-color: background: rgb(180,223,91); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(180,223,91,1) 0%, rgba(180,223,91,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(180,223,91,1)), color-stop(100%,rgba(180,223,91,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=1 );
	margin-left: 38%;
	margin-top: 10%;	
}

.log{
	margin-left: 14px;
	margin-bottom: 8px;
}

.error{
    color: #E60000;
    margin-left: 11%;
    margin-top: 2%;
}

.but{
	margin-left: 40%;
	margin-bottom: 8px;
}

.menu{
	margin-top: -1%;
	margin-left: 4%;
	margin-bottom: -3%;
}
.mant{
    margin-top: 6%;
    margin-left: 6%;
    margin-right: 6%;
}

.disable{
    float: right;
    margin-top: 2%;
    margin-right: 3.4%;
    color: #9F0000;
}

.enable{
    color: #006A00;
    float: right;
    margin-top: 2%;
    margin-right: 3.4%;
}

.commentEna{
    margin-left: 32%;
    background-color: #84FF84;
    margin-top: 2%;
    border-style: solid;
    border-color: #008040;
    border-radius: 2.8%;
    width: 35%;
    height: 30%;
}

.commentDis{
    margin-left: 32%;
    margin-top: 2%;
    border-radius: 2.8%;
    border-style: solid;
    border-color: #A80000;
    width: 35%;
    height: 50%;
    background-color: #FF5151;
}

.label{
    margin-top: 2%;
    margin-left: 3%;
    color: #004080;
}

.inputAuthor{
    margin-top: -4.8%;
    margin-left: 17%;
    color: #004000;
}

.inputStatus{
    color: #004000;
    margin-top: -4.8%;
    margin-left: 16.5%; 
}

.inputComment{
    color: #004000;
    margin-top: 2%;
    margin-left: 3.4%; 
    margin-bottom: 10%;
}

.inputDate{
    color: #004080;
    margin-left: 47%;
    margin-bottom: 6%;
    margin-right: 2.4%;
    float: right;
    margin-top: -6%;
}

.delete{
    color: #004080;
    background-color: #E1E1E1;
    border: 2px solid #CECECE;
    margin-top: 7%;
    width: 12%;
    text-align: center;
    border-color: #9F9F9F;
    margin-left: 22%;
    margin-top: 8%;
}

.delete :hover{
    color: #FF0000;
}

.edit{
    margin-right: 50%;
    margin-top: -6%;
    margin-left: 9%; 
    margin-bottom: 2%;
}

.radio{
    margin-left: 3%;
    margin-top: -5%;
    margin-bottom: -15%;
}


.commentPostDiv{
    margin-left: 26%;
    margin-top: 2%;
    border-radius: 2.8%;
    border-style: solid;
    border-color: #003366;
    width: 40%;
    height: 50%;
    background-color: #95CAFF;
}

.authorCommentPost{
    color: #004000;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

.commentAuthor{
    float: right;
    margin-top: 6%;
    margin-right: -6%;
    color: #007700;
}

.comentCommentPost{
    color: #004000;
    margin-top: 2%;
    margin-left: 4%; 
}

.commentComment{
    color: #007700;
    margin-top: 1%;
    margin-bottom: 8%;
    margin-left: 16%;     
}

.commentDate{
    color: #007700;
    margin-left: 73%;
    margin-top: -2%;
    margin-bottom: 2%;
}

.pagi{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 43%;
    font-family: Arial;
    color: #008000;
}

.divMainPost{
    width: 45%;
    margin-top: -45%;
    margin-left: 4%;
}

.title{
    font-family: Buxton Sketch;
    font-size: 420%;
    color: #006600;
    text-shadow: 3px 8px 8px #1B1B1B;    
    position: absolute;
    margin-top: 3%;
    margin-left: 35%;    
}

.title:hover{
    color: #800000;
    text-shadow: 6px 10px 8px #1B1B1B;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.biography{
    width: 30%;
    font-family: Arial;    
    margin-left: 68%;
    margin-top: 10%;
}

.picture{
    margin-left: 32%;
    margin-bottom: 5%;
    width: 40%;
    height: 30%;
    border-radius: 5%;
}

.info{
    margin-top: 7%;
    margin-left: 19.8%;
    margin-bottom: 3%;
    color: #008000;
}

.phoneText{
    margin-left: 36%;
    margin-right: 6%;
    margin-top: -7.3%;
    text-align: justify;
}

.emailText{
    margin-left: 36%;
    margin-right: 6%;
    margin-top: -7.3%;
    margin-bottom: 10%;
    text-align: justify;
}

.bioText{
    margin-left: 20%;
    margin-right: 6%;
    text-align: justify;
}

.social{
    display: inline;
    width: 30%;
    height: 20%;  
    margin-left: 28%;
    text-align: right;
}

.social img { 
    margin: 4px; 
    border: 5px solid #006600; 
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
} 

.social img:hover { 
    border: 5px solid #800000;
    -webkit-transform: rotate(-7deg); 
    -moz-transform: rotate(-7deg); 
    -o-transform: rotate(-7deg); 
} 

.editC{
    margin-left: 29%;
    margin-top: 11%;
    border-radius: 2.8%;
    border-style: solid;
    border-color: #003366;
    width: 38%;
    height: 50%;
    background-color: #95CAFF;
}

.labelEd{
    margin-top: 4%;
    margin-left: 4%;
    color: #006200;
}

.inputAuthorEd{
    margin-left: 15%;
    margin-top: -5%;    
}
.inputStatusEd{
    margin-left: 15%;
    margin-top: -5%;
}
.inputCommentEd{
    margin-top: 0.1%;
    margin-left: 6%;
    margin-bottom: -6%;
    position: absolute;
}

.btnEdit{
    margin-top:  24%;
    margin-left: 87%;
    margin-bottom: 4%;
}

.divPost{
    border: 2px solid #008000;
    width: 75%;
    margin-left: 10%;
    margin-top: 13%;
    border-radius: 5% 5% 5% 5%;
    margin-bottom: -10%;
    background-color: #89A6DA;
}

.titlePost{
    font-family: Andalus;
    font-size: 180%;
    color: #007EFD;
    text-shadow: 3px 8px 8px #1B1B1B;
    text-align: center;
    margin-top: -6%;
}

.titlePost:hover{
    color: #FFFFFF;
    text-shadow: 6px 10px 8px #1B1B1B;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.contentPost{
    margin-left: 8%;
    font-family: Arial;
    text-align: justify;
    color: #006291;
}

.datePost{
    margin-left: 64%;
    margin-bottom: 2%;
    margin-top: 4%;
    color: #008000;
}

.newPost{
    border: 2px solid #008000;
    width: 37%;
    margin-top: 9%;
    margin-left: 28%;
    border-radius: 5% 5% 5% 5%;
    background-color: #89A6DA;
}

.titleNewPost{
    margin-top: 3%;
    margin-left: 27%;
    color: #004000;
}

.lblContentNewPost{
    margin-top: 4%;
    margin-left: 5%;
    color: #004000;
}

.contentNewPost{
    margin-left: 19%;
}

.btnNewPost{
    margin-left: 39%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.commentPost{
    color: #004000;
    font-family: Arial;
    margin-left: 43%;
    margin-top: 5%;
}

.noComments{
    color: #970000;
    font-family: Arial;
    margin-left: 43%;
    margin-top: 5%;
}

.divComPost{
    border: 2px solid #004000;
    width: 50%;
    margin-top: 5%;
    margin-left: 21%;
    background-color: #7DFF7D;
}

.titleComPost{
    font-family: Candara;
    font-size: 160%;
    color: #004000;
    text-shadow: 3px 4px 8px #1B1B1B;
    text-align: center;
    margin-top: -4%;
}

.divCommentPost{
    border: 2px solid #008080;
    width: 40%;
    margin-top: 2%;
    margin-left: 26%;  
    background-color: #80D6FF;
}

.contentComPost{
    color: #00468C;
    margin-left: 4%;
    text-align: justify;
    margin-bottom: 6%;
    width: 90%;     
}

.authorComPost{
    color: #004000;
    margin-left: 2%;
    margin-bottom: 4%;     
}
.creatorComPost{
    color: #00468C;
    margin-left: 13%;
    margin-top: -7%;
    margin-bottom: 2%;
}

.postedComPost{
    color: #004000;
    margin-left: 60%;
    margin-top: -3.9%;
    margin-bottom: 2%;
}

.dateComPost{
    color: #00468C;
    margin-left: 71%;
    margin-top: -4.7%;
    margin-bottom: 2%;
}


.editPost{
    border: 2px solid #008000;
    width: 40%;
    margin-top: 2%;
    margin-left: 26%;  
    background-color: #71FF71 ;
}

.authorComPost2{
    color: #00468C;
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;     
}

.titleComPost2{
    margin-left: 43%;
    margin-top: -4%;
    font-family: Arial;
    color: #0080C0;
}

.radio2{
    margin-left: 2%;  
    margin-top: 10%;  
}

.acept2{
    margin-left: 8%;
    margin-top: -10%;
    margin-bottom: 5.4%;
}

.delete2{
    color: #004080;
    background-color: #E1E1E1;
    border: 2px solid #CECECE;
    margin-top: 7%;
    width: 12%;
    text-align: center;
    border-color: #9F9F9F;
    margin-left: 20%;
    margin-top: -4.8%;
    margin-bottom: 4%;
}

.delete2 :hover{
    color: #FF0000;
}

.contentComPost2{
    color: #008000;
    margin-left: 14%;
    margin-top: 10%;
    margin-bottom: 16%;
}

.dateComPost2{
    color: #004000;
    margin-right: 2%;
    margin-bottom: 2%;
    float: right;
}

.creatorComPost2{
    margin-top: -6%;
    margin-left: 17%;
    color: #004000;
}

.authorCommPost{
    color: #004000;
    margin-left: 2%;
    margin-top: 2%;
}

.yourCommentPost{
    color: #004000;
    margin-left: 2%;
    margin-top: 2%;
}

.comCommentPost{
    margin-top: 4%;
    margin-left: 23%;
}

.bntCommentPost{
    margin-left: 38%;
    margin-top: 2%;
    margin-bottom: 2%;
}