header, nav {
    display: block;
}
a {
    color: #0099CC;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #FF6600;
}
body {
    background: rgb(152, 190, 222);
    background: -moz-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(1%, rgba(152, 190, 222, 1)), color-stop(50%, rgba(222, 239, 255, 1)), color-stop(100%, rgba(152, 190, 222, 1)));
    background: -webkit-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: -o-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: -ms-linear-gradient(left, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    background: linear-gradient(to right, rgba(152, 190, 222, 1) 1%, rgba(222, 239, 255, 1) 50%, rgba(152, 190, 222, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98bede', endColorstr='#98bede', GradientType=1);
}
nav {
    display: inline-block;
    margin-top: 1%;
    max-width: 100%;
    vertical-align: bottom;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-table;
    padding: 0.1em;
    margin-bottom: 0.4em
}
nav a {
    background: #C0D8F2;
    border: 0.1em solid #57ABB8;
    border-radius: 0.25em;
    color: #5C5CFF;
    display: block;
    font-family:"Comic Sans MS";
    font-size: 16px;
    padding: 0.2em;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
nav a:hover {
    background: #4DB8FF;
    border: 0.1em dashed #0000FF;
    border-radius: 0 0.5em 0 0.5em;
    color: #FFF;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.title{
	font-size: 150%;
	color: #004000;
	text-shadow: 0px 3px 8px #2a2a2a;
	margin-top: -3%;
	margin-left: 36%;
}
.login{
	color: #004200;
	width: 22%;
	border: 2px solid #004080;
	background-color: background: rgb(180,223,91); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(180,223,91,1) 0%, rgba(180,223,91,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(180,223,91,1)), color-stop(100%,rgba(180,223,91,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(180,223,91,1) 0%,rgba(180,223,91,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=1 );
	margin-left: 38%;
	margin-top: 10%;	
}

.log{
	margin-left: 14px;
	margin-bottom: 8px;
}

.but{
	margin-left: 40%;
	margin-bottom: 8px;
}

.menu{
	margin-top: -1%;
	margin-left: 4%;
	margin-bottom: -3%;
}